*{
    body{
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }

    h2{
        text-align: center;
        background: #0a3d62;
        color: white;
        padding: 15px;
        margin-top: 0;
    }

    form{
        width: 45%;
        margin: auto;
        background: white;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    }

    label{
        font-weight: bold;
    }

    input, select{
        width: 95%;
        padding: 10px;
        margin-top: 5px;
        border-radius: 5px;
        border: 1px solid #aaa;
    }

    input[type="radio"]{
        width: auto;
    }

    input[type="submit"]{
        background: green;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border: none;
        width: 100%;
        padding: 12px;
        margin-top: 15px;
    }

    input[type="submit"]:hover{
        background: darkgreen;
    }

    button{
        background: #0984e3;
        color: white;
        padding: 10px 25px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        margin: 15px auto;
        display: block;
    }

    button:hover{
        background: #0652DD;
    }
}